@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: Philosopher;
  src: url(assets/fonts/Philosopher-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.main {
  width: 1920px;
  height: 1080px;
  background: url(assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  border-radius: 30px;
}

.blue-layer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 197, 232, 0.14)), to(rgba(0, 149, 214, 0.14)));
  background: linear-gradient(180deg, rgba(38, 197, 232, 0.14) 0%, rgba(0, 149, 214, 0.14) 100%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: calc(1920px - 140px);
  margin: auto;
}

.header-brand,
.header-h-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menu {
  /* flex: 3; */
}

.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h-logo {
  margin-right: 11.67px;
}

.h-text {
  font-family: Philosopher;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 34px;
  text-transform: capitalize;
  color: #ffffff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff33;
  border-radius: 10px;
  height: 86px;
  width: 1338px;
  padding: 29px 82.6px 29px 113px;
}

.menu span {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 13.6px;
  color: white;
}

.menu ul {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* .menu ul li {
  margin-right: 58.6px;
} */
.header-h-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [first] 70px [line2] 264px [line3] 626px [col-4-start] auto [five] 181px [six] 72px [end];
      grid-template-columns: [first] 70px [line2] 264px [line3] 626px [col-4-start] auto [five] 181px [six] 72px [end];
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.facebook {
  padding-bottom: 30px;
}

.instagram {
  padding-bottom: 34.7px;
}

.twitter {
  padding-bottom: 40.21px;
}

.youtube {
  padding-bottom: 45.23px;
}

.search-bar {
  width: 539px;
  height: 70px;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-logo {
  padding: 22.5px 0 24.12px 46.5px;
}

.title {
  margin-top: 55px;
  margin-bottom: 55px;
}

.Heading {
  margin-top: 50px;
  font-size: 60px !important;
}

.subHeading {
  margin-bottom: 52px;
  font-size: 48px !important;
}

.Heading,
.subHeading {
  font-family: "Lemon", cursive;
  font-style: normal;
  font-weight: normal;
  line-height: 75.5px;
  text-transform: capitalize;
  color: #ffffff;
}

.btn-program {
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-transform: uppercase;
  color: #ffffff;
  padding: 21px 84px;
}

.about {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 104px;
}

.about h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.about p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 16px;
  margin-bottom: 147px;
  max-width: 508px;
}

.videos {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 302px;
}

.video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.video-icon {
  display: inline-block;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 25px 20px 25px 30px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.video-content {
  margin-left: 28px;
  max-width: 317px;
}

.video-heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  margin-bottom: 33px;
  margin-top: 35px;
}

.video-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-transform: capitalize;
}

/* .scrollbar {
  display: flex;
  justify-content: end;
  align-items: center;
} */
.scroll-area {
  max-height: 348px;
  overflow: auto;
  margin-top: 340px;
}

/* ::-webkit-scrollbar {
  width: 10px;
} */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000;
} */
.scroll-padding {
  padding-bottom: 1113.6px;
}
/*# sourceMappingURL=style.css.map */